In [33]:
import numpy as np, pandas as pd
from astropy.table import Table
from astropy.io.votable import from_table

In [34]:

df_bc = pd.read_csv('./BlackCAT/BlackCAT.csv')

votable = from_table(Table.from_pandas(df_bc))
votable.to_xml("BlackCAT.vot")

WARNING: W03: ?:?:?: W03: Implicitly generating an ID from a name 'ID ' -> 'ID_' [astropy.io.votable.xmlutil]
WARNING: W03: ?:?:?: W03: Implicitly generating an ID from a name 'Name ' -> 'Name_' [astropy.io.votable.xmlutil]
WARNING: W03: ?:?:?: W03: Implicitly generating an ID from a name 'RA ' -> 'RA_' [astropy.io.votable.xmlutil]
WARNING: W03: ?:?:?: W03: Implicitly generating an ID from a name 'DEC ' -> 'DEC_' [astropy.io.votable.xmlutil]
WARNING: W03: ?:?:?: W03: Implicitly generating an ID from a name 'ℓ' -> '__' [astropy.io.votable.xmlutil]
WARNING: W03: ?:?:?: W03: Implicitly generating an ID from a name 'b ' -> 'b_' [astropy.io.votable.xmlutil]
WARNING: W03: ?:?:?: W03: Implicitly generating an ID from a name 'Mag. ' -> 'Mag._' [astropy.io.votable.xmlutil]
WARNING: W03: ?:?:?: W03: Implicitly generating an ID from a name 'd ' -> 'd_' [astropy.io.votable.xmlutil]
WARNING: W03: ?:?:?: W03: Implicitly generating an ID from a name 'Porb ' -> 'Porb_' [astropy.io.votable.xmlutil]

In [91]:
df_bc

,ID,Name,RA,DEC,ℓ,b,Magnitude,Mag.,d,fxpeak,Porb
0,70,MAXI J1803-298,03:02.8,-29:49:49.70,1.147184,-3.727514,i'=16.01±0.01,NaN,NaN,3.960000e-09,7
1,69,AT 2019wey,35:23.3,+55:22:34.30,151.161130,5.299730,r’=17.40±0.05,i’≥24.1,>1,2.400000e-08,<8.2
2,68,MAXI J0637-430,36:23.7,-42:52:04.70,251.532037,-20.674739,r’=15.80±0.01,i’>20.7,NaN,6.290000e-09,NaN
3,67,MAXI J1348-630,48:12.8,-63:16:28.48,309.264065,-1.102971,i’=14.44±0.08,i’=20.3±0.4,>3 / 2.2+0.5-0.6,1.970000e-08,NaN
4,66,Swift J1728.9-3613,28:58.6,-36:14:35.32,351.954878,-0.966301,NaN,NaN,NaN,1.350000e-08,NaN
...,...,...,...,...,...,...,...,...,...,...,...
65,5,1H 1659-487,02:49.4,-48:47:23.40,338.939090,-4.326483,I=13.6±0.1,r=19.9±0.1,>5,2.560000e-08,42.21±0.01
66,4,4U 1755-338,58:40.0,-33:48:26.80,357.215521,-4.872362,V∼18.5,V>21.96,6.5±2.5,1.170000e-09,∼4.4
67,3,4U 1543-475,47:08.3,-47:40:10.80,330.917871,5.426147,V=14.9,V=16.7,7.5±0.5,9.420000e-08,26.79377±0.00007
68,2,4U 1630-472,34:01.6,-47:23:34.80,336.911243,0.250295,K (not AB)=16.1,NaN,4.7-11.5,2.650000e-08,NaN
69,1,Cen X-2,00:28.2,-64:47:35.60,310.200098,-2.900134,NaN,NaN,NaN,1.580000e-07,NaN

In [41]:
df_xmm = pd.read_csv('/Users/huiyang/Research/GitHub/MUWCLASS_XMM/codes/buildTD/data/4XMM_DR13cat_v1.0_slim.csv')

df_xmm = df_xmm.rename(columns={'iauname':'name','sc_ra':'RA','sc_dec':'DEC'})
# print(df_xmm.head())

votable = from_table(Table.from_pandas(df_xmm[['name','RA','DEC']]))#,'sc_poserr','sc_det_ml','n_detections']]))
votable.to_xml("4XMM-DR13.vot")

In [106]:
SNR_file = open('SNRcat.xlsx')

lines = SNR_file.readlines()[1:]

df_SNR = pd.DataFrame()
for l in lines:
    #print(l)
    #print(l.find('snrs.'))
    idx1 = l.find('snrs.')
    idx2 = l.find('.html')
    snr_name = l[idx1+5:idx2]
    idx3 = l.find('/A>')
    RA = l[idx3+5:idx3+13]#.replace(' ',':')
    DEC = l[idx3+15:idx3+21]#.replace(' ',':')+':30'
    rest = [s.lstrip() for s in l[idx3+22:-1].split()]
    row = {'name':f'<A href="https://www.mrao.cam.ac.uk/surveys/snrs/snrs.{snr_name}.html">{snr_name}</A>','RA':RA,'DEC':DEC,'size':rest[0],'type':rest[1],'F_1G':rest[2],'index':rest[3]}
    df_SNR = pd.concat([df_SNR, pd.DataFrame(row, index=[0])], ignore_index=True,sort=False)
    #print(f'{snr_name} ..{RA}..{DEC}..{len(rest)}')

votable = from_table(Table.from_pandas(df_SNR))#,'sc_poserr','sc_det_ml','n_detections']]))
votable.to_xml("SNR.vot")

In [107]:
df_SNR

,name,RA,DEC,size,type,F_1G,index
0,"<A href=""https://www.mrao.cam.ac.uk/surveys/sn...",17 45 44,-29 00,3.5x2.5,S,100?,0.8?
1,"<A href=""https://www.mrao.cam.ac.uk/surveys/sn...",17 46 15,-28 38,15x8,S,22,0.6
2,"<A href=""https://www.mrao.cam.ac.uk/surveys/sn...",17 47 21,-28 09,8,C,18?,varies
3,"<A href=""https://www.mrao.cam.ac.uk/surveys/sn...",17 48 30,-28 09,8,S,15,0.6?
4,"<A href=""https://www.mrao.cam.ac.uk/surveys/sn...",17 49 39,-27 46,10,S,2?,?
...,...,...,...,...,...,...,...
298,"<A href=""https://www.mrao.cam.ac.uk/surveys/sn...",17 46 10,-30 40,17,S,4?,?
299,"<A href=""https://www.mrao.cam.ac.uk/surveys/sn...",17 46 50,-30 16,23,S,23,0.5
300,"<A href=""https://www.mrao.cam.ac.uk/surveys/sn...",17 45 30,-29 57,24,S,14,0.4?
301,"<A href=""https://www.mrao.cam.ac.uk/surveys/sn...",17 39 36,-29 11,12x11,S,2?,?
302,"<A href=""https://www.mrao.cam.ac.uk/surveys/sn...",17 48 14,-30 12,5x4,S?,0.4?,1.1?